[package]
name = "graphics"
version = "0.1.0"
edition = "2024"
publish = false

[lib]
crate-type = ["cdylib"]

[dependencies]
interstice-sdk = "0.3.0"
font8x8 = { version = "0.3", default-features = false, features = ["unicode"] }

[build-dependencies]
interstice-sdk = "0.3.0"
