[package]
name = "interstice-sdk-macros"
version = "0.0.1"
edition = "2021"

[lib]
proc-macro = true

[dependencies]
syn = { version = "2", features = ["full"] }
quote = "1"
proc-macro2 = "1"
interstice-abi = { path = "../interstice-abi" }
interstice-sdk-core = { path = "../interstice-sdk-core" }
