name = "agar-server"
address = "127.0.0.1:8080"

[[modules]]
abi_version = 1
name = "agar-server"
visibility = "Public"
subscriptions = []
authorities = []
module_dependencies = []
node_dependencies = []

[modules.version]
major = 0
minor = 1
patch = 0

[[modules.reducers]]
name = "join"

[[modules.reducers.arguments]]
name = "id"
field_type = "String"

[[modules.reducers.arguments]]
name = "name"
field_type = "String"

[[modules.reducers]]
name = "tick"

[[modules.reducers.arguments]]
name = "dt_ms"

[modules.reducers.arguments.field_type]
Option = "U64"

[[modules.reducers]]
name = "set_direction"

[[modules.reducers.arguments]]
name = "id"
field_type = "String"

[[modules.reducers.arguments]]
name = "dx"
field_type = "F32"

[[modules.reducers.arguments]]
name = "dy"
field_type = "F32"

[[modules.queries]]
name = "snapshot"
arguments = []

[modules.queries.return_type]
Named = "Snapshot"

[[modules.tables]]
name = "food"
type_name = "Food"
visibility = "Public"
primary_key_auto_inc = true
indexes = []
persistence = "Stateful"

[[modules.tables.fields]]
name = "pos"

[modules.tables.fields.field_type]
Named = "Vec2"

[[modules.tables.fields]]
name = "radius"
field_type = "F32"

[modules.tables.primary_key]
name = "id"
field_type = "U64"

[[modules.tables]]
name = "player"
type_name = "Player"
visibility = "Public"
primary_key_auto_inc = false
indexes = []
persistence = "Stateful"

[[modules.tables.fields]]
name = "name"
field_type = "String"

[[modules.tables.fields]]
name = "pos"

[modules.tables.fields.field_type]
Named = "Vec2"

[[modules.tables.fields]]
name = "dir"

[modules.tables.fields.field_type]
Named = "Vec2"

[[modules.tables.fields]]
name = "radius"
field_type = "F32"

[modules.tables.primary_key]
name = "id"
field_type = "String"

[modules.type_definitions.Food.Struct]
name = "Food"

[[modules.type_definitions.Food.Struct.fields]]
name = "id"
field_type = "U64"

[[modules.type_definitions.Food.Struct.fields]]
name = "pos"

[modules.type_definitions.Food.Struct.fields.field_type]
Named = "Vec2"

[[modules.type_definitions.Food.Struct.fields]]
name = "radius"
field_type = "F32"

[modules.type_definitions.Player.Struct]
name = "Player"

[[modules.type_definitions.Player.Struct.fields]]
name = "id"
field_type = "String"

[[modules.type_definitions.Player.Struct.fields]]
name = "name"
field_type = "String"

[[modules.type_definitions.Player.Struct.fields]]
name = "pos"

[modules.type_definitions.Player.Struct.fields.field_type]
Named = "Vec2"

[[modules.type_definitions.Player.Struct.fields]]
name = "dir"

[modules.type_definitions.Player.Struct.fields.field_type]
Named = "Vec2"

[[modules.type_definitions.Player.Struct.fields]]
name = "radius"
field_type = "F32"

[modules.type_definitions.Snapshot.Struct]
name = "Snapshot"

[[modules.type_definitions.Snapshot.Struct.fields]]
name = "players"

[modules.type_definitions.Snapshot.Struct.fields.field_type.Vec]
Named = "Player"

[[modules.type_definitions.Snapshot.Struct.fields]]
name = "foods"

[modules.type_definitions.Snapshot.Struct.fields.field_type.Vec]
Named = "Food"

[modules.type_definitions.Vec2.Struct]
name = "Vec2"

[[modules.type_definitions.Vec2.Struct.fields]]
name = "x"
field_type = "F32"

[[modules.type_definitions.Vec2.Struct.fields]]
name = "y"
field_type = "F32"
